[submodule "raster"]
	path = raster
	url = http://github.com/ahhz/raster
	branch = master
[submodule "iterator"]
	path = iterator
	url = http://github.com/ahhz/iterator
	branch = master
[submodule "map_algebra"]
	path = map_algebra
	url = http://github.com/ahhz/map_algebra
	branch = master
[submodule "blink_test"]
	path = blink_test
	url = http://github.com/ahhz/blink_test
	branch = master
[submodule "moving_window"]
	path = moving_window
	url = http://github.com/ahhz/moving_window
	branch = master
[submodule "raster_tools"]
	path = raster_tools
	url = http://github.com/ahhz/raster_tools
	branch = master
[submodule "resumable_dijkstra"]
	path = resumable_dijkstra
	url = http://github.com/ahhz/resumable_dijkstra
	branch = master
